2025/05/BEt1snPCGQrvKA4o.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Google Drive7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive9",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Google Drive11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive11": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Google Drive13": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-05T13:19:53.451Z",
  "id": "BEt1snPCGQrvKA4o",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CreacionCarpetas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 1,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -840,
        -160
      ],
      "id": "be274157-d6d1-495c-ba1e-d902be9c23e0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "=python -c \"import os; import locale;from datetime import datetime;locale.setlocale(locale.LC_TIME, 'es_ES'); current_date = datetime.now(); from datetime import datetime; mesdirec = current_date.strftime('%m - %B %Y'); stdout = mesdirec.replace(mesdirec.split(' - ')[1], mesdirec.split(' - ')[1].capitalize()); mes = current_date.strftime('%B'); print(fr'{stdout}')\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -20,
        -80
      ],
      "id": "800a68f7-e221-40e7-a7e6-581050e1096c",
      "name": "Execute Command"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -840,
        20
      ],
      "id": "55dc19c1-cc45-4a18-a9bf-121211a3a5bb",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.stdout }}",
        "driveId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "1LORseO6Wjzhpq8cHF75YJVhIGc2NKrcw",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        140,
        -80
      ],
      "id": "001f2388-62d4-4acb-8958-2bd2b537363d",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=ARCA",
        "driveId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        380,
        -360
      ],
      "id": "85b0d135-23c2-435d-adf1-212444352e0f",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=LA SEGUNDA",
        "driveId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        380,
        240
      ],
      "id": "6fd0e106-60b6-46ab-9e0b-eebfeabca99c",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Pago Monotributo",
        "driveId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        -620
      ],
      "id": "b2fb70c3-c5e9-44c1-84c9-5514223e08de",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Inscripcion Autonomo Monotributo",
        "driveId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        -460
      ],
      "id": "bed2cb0b-d15b-4b5c-b1f5-105efc4a23a9",
      "name": "Google Drive4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Estado de Cuenta",
        "driveId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        -300
      ],
      "id": "065c09f5-c24d-47ba-bef4-6001f248c5dc",
      "name": "Google Drive5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Merge ARCA",
        "driveId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        -140
      ],
      "id": "15e2dba9-b2e9-4fa2-b6ed-486f270feeb0",
      "name": "Google Drive6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=CNR",
        "driveId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        20
      ],
      "id": "5c20ebec-3bcf-4d1e-92ca-6f5f31dab55c",
      "name": "Google Drive7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Poliza",
        "driveId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        180
      ],
      "id": "7051d200-3cd4-419d-9263-ba0814ceec4e",
      "name": "Google Drive8",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Pago poliza acc personales",
        "driveId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        340
      ],
      "id": "928694f8-38f2-4a6f-b21e-d869da3ff7be",
      "name": "Google Drive9",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Merge La Segunda",
        "driveId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        620,
        500
      ],
      "id": "840d1a7f-c65f-43cb-828d-49f890f4ccc5",
      "name": "Google Drive10",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "command": "=python -c \"import locale; from datetime import datetime; locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8'); anio = datetime.now().strftime('%Y'); print(f'{anio}')\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -640,
        -80
      ],
      "id": "5e66ae9b-8e91-47a1-9042-de9cbfd76b63",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.stdout }}",
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        -80
      ],
      "id": "4b58bba3-a9db-4dca-b06a-62e3fbab2d19",
      "name": "Google Drive11",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "=Año {{ $('Execute Command1').item.json.stdout }}",
        "driveId": {
          "__rl": true,
          "value": "=",
          "mode": "id"
        },
        "folderId": {
          "__rl": true,
          "value": "1a1zOitMYUE3_2FrKggj3qxQ_0B92izXx",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -180,
        -80
      ],
      "id": "ff6881e6-b8dd-414c-bfc0-72a6d45e631b",
      "name": "Google Drive13",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bqi6TTRaGBJIhFFV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70ac0c36-387a-40f7-93e0-579de029ebe9",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -340,
        -80
      ],
      "id": "4021ade4-c07e-42a4-9692-cab1b07a6807",
      "name": "If"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backup",
  "repo_owner": "SimonTeralv",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-01T11:39:34.000Z",
  "versionId": "c665e0cd-98f8-4a6a-a17c-3d972e42a7bb"
}