2025/05/sKItisoN4WjUR0bh.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Create sub path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sub path": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-23T13:31:59.847Z",
  "id": "sKItisoN4WjUR0bh",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "N8N-BackUp-2",
  "nodes": [
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 732,
        "width": 1791,
        "color": 6
      },
      "id": "10835d01-1bd7-463d-b120-128973495f51",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -860,
        -220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "29925b9b-2784-4011-b1ca-ee55aba7b994",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -800,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "55931150-5ecd-46fe-b1de-24b4c38a8300",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        740,
        140
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "84b414b0-fcdf-4831-ac71-7a54d91a05fe",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -220,
        -80
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "db0d5bb9-0471-431d-9115-cc60193d0401",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        -400,
        -80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "d3f4de78-443c-4bbe-9f97-9ed0d4f8eb5f",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        -400,
        140
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
      },
      "id": "cdfa488d-5a1d-462b-9bfa-5650d21babae",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -220,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "60807492-4618-49e9-8885-c1bde065f535",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        100,
        120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f8c7f8e3-a199-4d2c-8a1d-828368fe0f27",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        420,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "10bf2f7e-11b3-40b7-addc-dbb411c4377e",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        340,
        140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "1bae8f62-a5bb-4a0f-9b35-ff249a82cabc",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        340,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "=SimonTeralv",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "=n8n-backup",
          "mode": ""
        },
        "filePath": "={{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "ce97e9a6-1852-4375-a41b-b848ba56572d",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        500,
        300
      ],
      "typeVersion": 1,
      "webhookId": "5633e810-24ea-4bbc-98dc-a595110ec5f7",
      "credentials": {
        "githubApi": {
          "id": "lo1aXDz0LTmkrmZH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "=SimonTeralv",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "=n8n-backup",
          "mode": ""
        },
        "filePath": "={{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "3bd8ea7a-f591-4767-8627-46337c178dcf",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        500,
        140
      ],
      "typeVersion": 1,
      "webhookId": "08f0f05e-647a-4e7b-a057-1d8053e51953",
      "credentials": {
        "githubApi": {
          "id": "lo1aXDz0LTmkrmZH",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
              "name": "subPath",
              "type": "string",
              "value": "={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d0ff9a5b-fd89-4093-a2da-7825289bc3a5",
      "name": "Create sub path",
      "type": "n8n-nodes-base.set",
      "position": [
        -60,
        140
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "SimonTeralv",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "name"
        },
        "filePath": "={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "cb5ad054-f362-4c5a-8612-f792d3629137",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        -600,
        -80
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "2614e8f8-53f3-409d-ba5e-23bb90a1a100",
      "credentials": {
        "githubApi": {
          "id": "lo1aXDz0LTmkrmZH",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "=SimonTeralv"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "=n8n-backup"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": "="
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3244a309-dfe1-44db-801f-21f14a3cffbe",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        -600,
        160
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "createdAt": "2025-05-23T13:31:28.717Z",
          "updatedAt": "2025-07-08T18:48:34.000Z",
          "id": "zn4P4r19hy4V7BTs",
          "name": "N8N-BackUp-1",
          "active": true,
          "nodes": [
            {
              "parameters": {},
              "id": "d7f07922-0f01-4aaa-b510-be5297ec7106",
              "name": "On clicking 'execute'",
              "type": "n8n-nodes-base.manualTrigger",
              "position": [
                -380,
                0
              ],
              "typeVersion": 1
            },
            {
              "parameters": {
                "options": {}
              },
              "id": "642dd956-c362-4ea8-82ef-7a8b0619a5bb",
              "name": "Loop Over Items",
              "type": "n8n-nodes-base.splitInBatches",
              "position": [
                140,
                100
              ],
              "typeVersion": 3
            },
            {
              "parameters": {
                "rule": {
                  "interval": [
                    {}
                  ]
                }
              },
              "id": "37631421-a250-4afb-a285-a437d01184a2",
              "name": "Schedule Trigger",
              "type": "n8n-nodes-base.scheduleTrigger",
              "position": [
                -380,
                180
              ],
              "typeVersion": 1.2
            },
            {
              "parameters": {
                "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
                "height": 417,
                "width": 385,
                "color": 4
              },
              "id": "d5857cd2-f5da-40bd-892e-e9fbdd940fb5",
              "name": "Sticky Note1",
              "type": "n8n-nodes-base.stickyNote",
              "position": [
                -860,
                -80
              ],
              "typeVersion": 1
            },
            {
              "parameters": {
                "content": "## Main workflow loop",
                "height": 416,
                "width": 1413,
                "color": 7
              },
              "id": "1be4bc08-a1fc-460b-9770-3e2fd4cf7759",
              "name": "Sticky Note2",
              "type": "n8n-nodes-base.stickyNote",
              "position": [
                -440,
                -80
              ],
              "typeVersion": 1
            },
            {
              "parameters": {
                "workflowId": "=sKItisoN4WjUR0bh",
                "mode": "each",
                "options": {}
              },
              "id": "d75c2ac5-dbd8-4351-81f7-c985ec3d82a1",
              "name": "Execute Workflow",
              "type": "n8n-nodes-base.executeWorkflow",
              "position": [
                360,
                120
              ],
              "typeVersion": 1,
              "onError": "continueErrorOutput"
            },
            {
              "parameters": {
                "operation": "update",
                "tableId": "Var-Control-Documentario",
                "matchType": "allFilters",
                "filters": {
                  "conditions": [
                    {
                      "keyName": "variable",
                      "condition": "eq",
                      "keyValue": "Errores"
                    }
                  ]
                },
                "fieldsUi": {
                  "fieldValues": [
                    {
                      "fieldId": "Texto",
                      "fieldValue": "={{ $('Supabase6').item.json.Texto }},{{ $json.message }}\n\n"
                    }
                  ]
                }
              },
              "type": "n8n-nodes-base.supabase",
              "typeVersion": 1,
              "position": [
                820,
                140
              ],
              "id": "69074fc7-4c74-4c6c-98cd-1c8e50bdb824",
              "name": "Supabase5",
              "credentials": {
                "supabaseApi": {
                  "id": "ZvkTz1mTFoOcPh6G",
                  "name": "Supabase account"
                }
              }
            },
            {
              "parameters": {
                "assignments": {
                  "assignments": [
                    {
                      "id": "bd154629-c902-4d90-9b05-b13782b4f671",
                      "name": "message",
                      "value": "=FailBackUp: {{ $('Loop Over Items').item.json.id }}",
                      "type": "string"
                    }
                  ]
                },
                "options": {}
              },
              "type": "n8n-nodes-base.set",
              "typeVersion": 3.4,
              "position": [
                680,
                140
              ],
              "id": "c0dfeb52-a175-45b1-a12c-9f446062cfee",
              "name": "Edit Fields3"
            },
            {
              "parameters": {
                "operation": "get",
                "tableId": "Var-Control-Documentario",
                "filters": {
                  "conditions": [
                    {
                      "keyName": "variable",
                      "keyValue": "Errores"
                    }
                  ]
                }
              },
              "type": "n8n-nodes-base.supabase",
              "typeVersion": 1,
              "position": [
                540,
                140
              ],
              "id": "e6b4fd9a-e1fe-423e-a40b-13763d57c768",
              "name": "Supabase6",
              "credentials": {
                "supabaseApi": {
                  "id": "ZvkTz1mTFoOcPh6G",
                  "name": "Supabase account"
                }
              }
            },
            {
              "parameters": {
                "sendTo": "=simonteralv2@gmail.com",
                "subject": "BackUp-Workflows-N8N",
                "emailType": "text",
                "message": "= Backup has completed - workflows have been processed.✅\nErrores: {{ $json.Texto }}",
                "options": {}
              },
              "type": "n8n-nodes-base.gmail",
              "typeVersion": 2.1,
              "position": [
                680,
                -40
              ],
              "id": "93f88180-7ba0-4f9b-ab78-875e088544f4",
              "name": "Mensaje",
              "webhookId": "6bc2c596-6b0a-4077-9a64-a43f3b27b4d7",
              "credentials": {
                "gmailOAuth2": {
                  "id": "NWtQUZYbGghGDkN1",
                  "name": "Gmail account"
                }
              }
            },
            {
              "parameters": {
                "keep": "lastItems"
              },
              "type": "n8n-nodes-base.limit",
              "typeVersion": 1,
              "position": [
                360,
                -40
              ],
              "id": "99016d8c-cfff-4eda-800e-b4b7c934716d",
              "name": "Limit"
            },
            {
              "parameters": {
                "operation": "get",
                "tableId": "Var-Control-Documentario",
                "filters": {
                  "conditions": [
                    {
                      "keyName": "variable",
                      "keyValue": "Errores"
                    }
                  ]
                }
              },
              "type": "n8n-nodes-base.supabase",
              "typeVersion": 1,
              "position": [
                540,
                -40
              ],
              "id": "086b8cf9-17d4-4969-96eb-86fcc4c4e8c7",
              "name": "Supabase",
              "credentials": {
                "supabaseApi": {
                  "id": "ZvkTz1mTFoOcPh6G",
                  "name": "Supabase account"
                }
              }
            },
            {
              "parameters": {
                "operation": "update",
                "tableId": "Var-Control-Documentario",
                "matchType": "allFilters",
                "filters": {
                  "conditions": [
                    {
                      "keyName": "variable",
                      "condition": "eq",
                      "keyValue": "Errores"
                    }
                  ]
                },
                "fieldsUi": {
                  "fieldValues": [
                    {
                      "fieldId": "Texto",
                      "fieldValue": "=\n\n"
                    }
                  ]
                }
              },
              "type": "n8n-nodes-base.supabase",
              "typeVersion": 1,
              "position": [
                -200,
                100
              ],
              "id": "1b1ffdc3-c8be-41c7-bc64-57386ec02c70",
              "name": "Supabase7",
              "credentials": {
                "supabaseApi": {
                  "id": "ZvkTz1mTFoOcPh6G",
                  "name": "Supabase account"
                }
              }
            },
            {
              "parameters": {
                "filters": {},
                "requestOptions": {}
              },
              "id": "679a4e27-2935-4695-94d3-895f4d82bc33",
              "name": "n8n1",
              "type": "n8n-nodes-base.n8n",
              "position": [
                -60,
                100
              ],
              "typeVersion": 1,
              "credentials": {
                "n8nApi": {
                  "id": "9InbP3eA3I6HvwbC",
                  "name": "n8n account 2"
                }
              }
            }
          ],
          "connections": {
            "On clicking 'execute'": {
              "main": [
                [
                  {
                    "node": "Supabase7",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Loop Over Items": {
              "main": [
                [
                  {
                    "node": "Limit",
                    "type": "main",
                    "index": 0
                  }
                ],
                [
                  {
                    "node": "Execute Workflow",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Schedule Trigger": {
              "main": [
                [
                  {
                    "node": "Supabase7",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Execute Workflow": {
              "main": [
                [
                  {
                    "node": "Loop Over Items",
                    "type": "main",
                    "index": 0
                  }
                ],
                [
                  {
                    "node": "Supabase6",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Edit Fields3": {
              "main": [
                [
                  {
                    "node": "Supabase5",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Supabase6": {
              "main": [
                [
                  {
                    "node": "Edit Fields3",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Supabase5": {
              "main": [
                [
                  {
                    "node": "Loop Over Items",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Limit": {
              "main": [
                [
                  {
                    "node": "Supabase",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Supabase": {
              "main": [
                [
                  {
                    "node": "Mensaje",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "Supabase7": {
              "main": [
                [
                  {
                    "node": "n8n1",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            },
            "n8n1": {
              "main": [
                [
                  {
                    "node": "Loop Over Items",
                    "type": "main",
                    "index": 0
                  }
                ]
              ]
            }
          },
          "settings": {
            "executionOrder": "v1"
          },
          "staticData": {
            "node:Schedule Trigger": {
              "recurrenceRules": []
            }
          },
          "meta": {
            "templateCredsSetupCompleted": true
          },
          "pinData": {},
          "versionId": "38a24f50-47ad-4daf-8330-d839d6fcc684",
          "triggerCount": 1,
          "tags": []
        }
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "SimonTeralv",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-14T13:54:10.000Z",
  "versionId": "e1141edd-6cbb-4860-a13c-47cba675d1e1"
}